/* styles/about.css */

.parallax-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0c;
}

.slide1 {
  background-color: aquamarine;
}

.slide2 {
  background-color: bisque;
}

.slide3 {
  background-color: blanchedalmond;
}

.content {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
